@font-face {
    font-family: "senn";
    src: url(fonts/persona_aura/Persona\ Aura.otf);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}

.landing-page {
    height: 105vh;
    width: 110%;
    margin: -15px 0px -15px -15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.637)), url("img/landscape.jpg");
    backdrop-filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden-landing-page {
    height: 105vh;
    width: 110%;
    margin: -15px 0px -15px -15px;
    background-color: black;
    z-index: -1;

}

.aboutme {
    margin-top: 15px;
    color: white;
    width: 50%;
    font-size: 175%;
}

.selfie {
    height: 50%;
    aspect-ratio: 1;
    background-color: #bbb;
    border-radius: 50%;
    border: black 2px solid;
}

/* ------------------------------------------navbar----------------------- */
.landing-navbar {
    /* background-color: white; */
    position: absolute;
    height: 10vh;
    width: 100%;
    z-index: 1000;
    display: flex;
    background-size: cover;
    background-position: top 5%;
}

.left-navbar {
    width: 40%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item:first-child {
    font-size: 200%;
    margin-left: 30px;
}

.navbar-item {
    font-family: senn;
    font-size: 150%;

}

/* -------------------------------project-------------------------------------------- */
.projects {
    height: 100vh;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.projectstitle {
    font-family: senn;
    font-size: 300%;
}

.card {
    width: 25%;
    background-color: white;
}

.cardimg>img {
    width: 100%;
    aspect-ratio: 2/1;
}
.cardimg:hover {
    .imgtext{
        display: block;
    }
    .imgtext{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.imgtext {
    /* height: 100%; */
    margin: 0px;
    color: white;
    display: block;
    position: relative;
    bottom: 50px;
}
.cardhouse {
    padding: 0px 15px 0px 15px;
}
.cardimg{
    height: 100%;
}